	<!--<script src="/components/jquery/dist/jquery.min.js"></script>
	<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>-->
	<script src="/components/requirejs/require.js" data-main="js/script"></script>
</body>
</html>