<% include header %>

  <h1 id="id"><%-title %></h1>
  <p>Welcome to <%-title %></p>

  <ul>
  	<li><a href="###"><span>html</span></a></li>
  	<li><a href="###"><span>css</span></a></li>
  	<li><a href="###"><span>javascript</span></a></li>
  </ul>

  <button class="bin">bin</button>
  <button class="debin">debin</button>
  <button class="delbin">delbin</button>

<% include footer %>