<% include header %>

  <h1><%-title %></h1>
  <p>Welcome to <%-title %></p>

  <ul>
  	<li><a href=""><span>html</span></a></li>
  	<li><a href=""><span>css</span></a></li>
  	<li><a href=""><span>javascript</span></a></li>
  </ul>

<% include footer %>