body {
    padding: 50px;
    font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
ul, li, a, span {
    padding: 10px;
    border: 1px solid #ccc;
    display: block;
}